.headline {
  margin: 0;
  font-size: 36px;
  color: var(--mint);
  text-align: center;
  align-self: center;
  white-space: nowrap;
}

@media (min-width: 543px) {
  .headline {
    font-size: 50px;
  }
}

@media (min-width: 880px) {
  .headline {
    padding-right: 30px;
    font-size: 60px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .headline {
    padding-right: 70px;
    font-size: 80px;
  }
}
