@media (min-width: 880px) {
  .form-wrapper {
    display: flex;
  }
}

.form-inner-wrapper {
  width: 100%;
}

@media (min-width: 880px) {
  .form-inner-wrapper {
    width: 637px;
    height: 150px;
  } 
}

.fieldset {
  width: 100%;
  padding: 0;
}

@media (min-width: 480px) {
  .fieldset {
    width: calc(100% - 170px);
    float: left;
  }
}

.form-submessage {
  display: block;
  text-align: center;
}

@media (min-width: 880px) {
  .form-submessage {
    display: inline;
    text-align: left;
  }
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}