:root {
  /* 
  * Colors 
  */
  --white: #ffffff;
  --grey: #888888;
  --red: #ED1F34;
  --darkBlue: #120F23;
  --blue: #94AEBF;
  --mint: #B6FDBF;
  --error: red;

  /* 
  * Fonts
  */
  --baseFont: 'AzoSans', Arial, Helvetica, sans-serif;
  --headerFont: 'Elaine', Arial, Helvetica, sans-serif;
}